:root {
    --fuentePrincipal: 'Rubik', sans-serif;
    --fuenteSecundaria: 'Roboto Condensed', sans-serif;
    --colorWhite: #fff;
    --colorBlack: #000;
    --colorOrange: #f77f00;
    --colorCian: #0096c7;
    --colorBtn: #ade8f4;
    --colorBgCarrito: #edede9;
    --colorOcuro: #073b4c;
    --colorRed: #ec050d;
    --colorBgCard: #ffb4a2;
}


/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}

body {
    font-family: var(--fuenteSecundaria);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* *Contendor principal */
.contenedor {
    margin: 0 auto;
    max-width: 120rem;
}

.header-flex {
    display: flex;
    justify-content: space-between;
}

 .header-flex {
     max-width: 60rem;
     margin: auto;
     align-items: center;
     justify-content: space-between;
     margin-top: 2.5rem;
 }

.header-flex .flex .p-logotipo:hover {
    color: var(--colorCian);
}

.header-flex .flex .p-logotipo {
    font-family: var(--fuentePrincipal);
    color: var(--colorBlack);
    text-decoration: none;
    font-weight: 700;
    font-size: 1.3rem;
}

@media (min-width: 768px) { 
    .header-flex .flex .p-logotipo {        
        font-size: 1.8rem;
    }
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
}

@media (min-width: 968px) { 
     .flex {
        flex-direction: row;
     }
}

.flex nav ul li a {
    text-align: none;
    text-decoration: none;
    color: var(--colorBlack);
    padding: 3px;
    margin: 0 15px;
    transition: .5s;
    font-size: 1rem;
    font-family: var(--fuenteSecundaria);
    font-weight: 700;
}

.flex ul {
    display: flex;
    list-style: none;
}

.flex nav ul li a:hover {
    color: var(--colorCian);
    transform: scaleX(1);
}

@media (min-width: 968px) { 
    .flex .nav-responsive {
        display: none;
    }
}

@media screen and (max-width: 968px) {
    nav {
        display: none;
    }

    .flex .nav-responsive {
        display: block;
    }

    .nav-responsive {
        padding: 5px 10px;
        cursor: pointer;
    }

    nav.responsive {
        display: block;
        position: absolute;
        margin-left: 1rem;
        top: 75px;
        background-color: var(--colorBgCarrito);
        width: 18rem;
        border-radius: 8px;
        margin-top: 1rem;
    }

    nav.responsive ul {
        display: block !important;
    }
    nav.responsive ul li {
        border-bottom: 1px solid var(--colorBlack);
        padding: 10px 0;
    }
}


.border {
    max-width: 60rem;
    margin: auto;
    margin-top: 1.5rem;
    border-bottom: 1px solid var(--colorOcuro);
}

/* *Modificando tamaño del perfil*/
.carrito-flex {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.carrito-compra ul {
    list-style: none;
}

th,
td {
    padding: 1rem 1.5rem;
    text-align: left;
    border-bottom: 1px solid var(--colorBlack);
    font-family: var(--fuenteSecundaria);
    text-transform: uppercase;
    color: var(--colorOcuro);
}
.submenu #carrito {
    display: none;
}

.submenu {
    position: relative;
}

/* *Creando espacio donde se mostraran los articulos que esten en el carrito */
.submenu #carrito {
    display: block;
    position: absolute;   
    right: 0;
    top: 100%;
    z-index: 1;
    background-color: var(--colorBgCarrito);
    border-radius: 1rem;
    padding: 2rem;
    min-height: 26rem;
    min-width: 18rem;
}


.spacin-full {
    width: 100%;
    box-sizing: border-box;
}

@media (min-width: 380px) { 
    .submenu #carrito {
        min-width: 20rem;
    }
}

@media (min-width: 468px) { 
    .submenu #carrito {
        min-width: 25rem;
    }
}


@media (min-width: 574px) {
    .submenu #carrito {
        min-width: 29rem;
    }
}

@media (max-width: 660px) { 
    .submenu #carrito tr th {
        display: block;
        text-align: start;
    }
}

@media (min-width: 660px) {
    .submenu #carrito {
        min-width: 32rem;
    }
}

@media (min-width: 768px) { 
    .submenu:active #carrito {
        min-width: 38rem;
    }
}

@media (min-width: 968px) { 
    .submenu:hover #carrito {
        display: block;
        position: absolute;
        right: 0;
        top: 100%;
        z-index: 1;
        background-color: var(--colorBgCarrito);
        border-radius: 1rem;
        padding: 2rem;
        min-height: 26rem;
        min-width: 38rem;
    }
    
    .spacin-full {
        width: 100%;
        box-sizing: border-box;
    }
}

#carrito .btn-apecing {
    display: flex;
    align-items: center;
    text-decoration: none;
    text-align: center;
    margin-top: 2rem;
    border: 1px solid var(--colorBlack);
    border-radius: 8px;
    justify-content: center;
    padding: .5rem 0;
    font-weight: 700;
    font-size: 1rem;
    font-family: var(--fuenteSecundaria);
    background-color: var(--colorBtn);
    color: var(--colorRed);
    text-transform: uppercase;
}

@media (max-width: 468px) { 
     th, td {
        padding-left: 0;
     }
}

@media (min-width: 768px) { 
    th:first-child,
    td:first-child {
        padding-left: 0;
    }
        th:last-child,
        td:last-child {
            padding-right: 0;
            text-align: center;
        }
}

.icon-delete {
    margin-right: 1rem;
}

.person {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

/* *Contenido principal */
.contenedor-principal {
    margin: 0 auto;
    max-width: 55rem;
    margin-top: 3rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-items: center;
}

.grid .descripcion {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.zapatos-principal,
.zapatos-secund {
    height: 22rem;
    width: 22rem;
    border-radius: 1rem;
}

.zapatos-secund {
    height: 5rem;
    width: 5rem;
}

.zaptos-flex {
    display: flex;
    align-items: center;
    gap: .7rem;
}

.descripcion {
    /* margin-left: 2rem; */
    padding: 1rem;
    font-weight: 700;
}

.p-compa {
    color: var(--colorOrange);
    font-size: 1rem;
}

.p-title {
    font-size: 2rem;
    margin: 1rem 0;
}

.p-marca {
    margin: 0;
}

.p-desc {
    font-weight: 400;
    margin: 0;
}

.card-flex {
    display: flex;
    align-items: center;
}

.price {
    font-size: 1.5rem;
    margin: .5rem 0;
}

.card {
    background-color: var(--colorBgCard);
    padding: .2rem .6rem;
    margin: 0 0 0 1rem;
    border-radius: 5px;
    color: var(--colorRed);
}

.price-desc {
    margin: 0;
    text-decoration: line-through;
}

.flex-botones,
.flex-btn {
    display: flex;
}

.flex-botones {
    margin-top: 2rem;
    align-items: center;
}

.flex-botones .flex-btn {
    margin-right: 2rem;
}

.flex-btn {
    background-color: var(--colorBgCarrito);
    /* padding: .2rem .8rem;     */
    align-items: center;
}

.btn-add,
.btn-res {
    border: 1px solid var(--colorOcuro);
    border-radius: 5px;
}

.btn-add {
    margin-right: 1rem;
}

.btn-res {
    margin-left: 1rem;
}

.btn-carrito {
    display: flex;
    align-items: center;
    background-color: var(--colorOrange);
    text-decoration: none;
    padding: .5rem 2rem;
    color: var(--colorWhite);
    border-radius: 8px;
}

.icon-add {
    margin-right: .6rem;
}